/************ reset.css ****************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************************/
#hr-div{
    margin-top: 20%;
    margin-left: 12%;
    position: absolute;
    width: 686px;
    height: 0px;
    border: 1px solid #FFFFFF;
    
}
#modal-dialog-content-img{
    margin-left: 55%;
    margin-top: 7%;
}
#modal-dialog-head-text{
    margin-left: 10%;
    margin-top: 5%;
    color: white;
    position: absolute;
    width: 709px;
    height: 64px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 56px;
    text-align: center;
}
.modal-dialog-content-text{
    margin-top: 23%;
    margin-left: 8%;
    color: white;
    position: absolute;
    width: 314px;
    height: 34px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;

}



html, body, #app, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.container-flex {
	display: flex;
	width: 1200px;
	margin: auto;
}

#menu-top {
    background: linear-gradient(0deg, #171932, #171932);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100%;
    height: 85px;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    color: white;
}

#menu-top .container-flex {
    justify-content: space-between;
}

#menu-top .logo {
    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    margin-left: 2%;
    font-size: 50px;
    line-height: 64px;
    color: #FFFFFF;
    align-self: center;
}

#menu-top .right-panel {
    width: 1500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu-top .menu-item {
    margin-left: 40px;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    text-shadow: 0px 0px 8px rgba(23, 37, 54, 0.5);    
    align-items: center;
    display: flex;
}


#quest-img{
    position: absolute;
    margin-left: 40%;
    margin-top: -25px;
    margin-bottom: -40px;
}
#he-text{
    position: absolute;
    margin-top: -4%;
    width: 365px;
    height: 60px;
    margin-left: 60%;
    background: linear-gradient(270deg, #D1FF4E 6.81%, rgba(11, 12, 28, 0) 87.17%);
}





/* Базовый контейнер табов */
.tabs {
	min-width: 320px;
	max-width: 800px;
	padding: 0px;
	margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
	display: none;
	padding: 15px;
	background: #fff;
	border: 1px solid #ddd;
}
.tabs>section>p {
	margin: 0 0 5px;
	line-height: 1.5;
	color: #383838;
	/* прикрутим анимацию */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */
 
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #aaa;
	border: 0px solid #ddd;
	border-width: 1px 1px 1px 1px;
	background: #f1f1f1;
	border-radius: 3px 3px 0 0;
}
/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs>label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}
.tabs>label[for*="1"]:before {
	content: "\f19a";
}
.tabs>label[for*="2"]:before {
	content: "\f17a";
}
.tabs>label[for*="3"]:before {
	content: "\f13b";
}
.tabs>label[for*="4"]:before {
	content: "\f13c";
}
/* Изменения стиля переключателей вкладок при наведении */
 
.tabs>label:hover {
	color: #888;
	cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #555;
	border-top: 1px solid #009933;
	border-bottom: 1px solid #fff;
	background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
	display: block;
}
/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/
 
@media screen and (max-width: 680px) {
	.tabs>label {
		font-size: 0;
	}
	.tabs>label:before {
		margin: 0;
		font-size: 18px;
	}
}
/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
	.tabs>label {
		padding: 15px;
	}
}













.tab-grey-text{

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 28px;

color: #8E8E8E;
}
.inpt-tab{
    
display: flex;
width: 180px;
height: 20px;
margin-left: 20%;
margin-top: -3%;

border: 3px solid #8E8E8E;
box-sizing: border-box;
}
.inp-divs{
    margin-top: 10px;
}
.tabs label{
    
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 28px;

color: #171932;
}
.tab-text{
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;

    color: #171932;
}
#he-txt{
/*    position: absolute;*/
        width: 254.84px;
        height: 36px;
        margin-left: 30%;
        margin-top: 2%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;

        color: #FFFFFF;
}
.rr{
    padding-left: -30px;
    padding-right: 30px;
}
.main-head-text{   
/*    position: absolute;*/
    color: white;
    margin-top: 120px;
    width: 619px;
    height: 105px;

    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    font-size: 110px;
    line-height: 130px;
}
.main-pg-img-block{
    margin-top: 50%;
}
.main-head-text-min{
    width: 657px;
    height: 80px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}
.hrt:hover{
    text-decoration: underline;
    cursor: pointer;
}
#menu-top .search button {
    width: 250px;
    height: 48px;
    border: 4px solid #D1FF4E;
    box-sizing: border-box;
    border-radius: 34px;
    background: none;
    color: #D1FF4E;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;  
    cursor: pointer;  
}

#menu-top .account {
    display: flex;
    align-items: center;
}

#menu-top .menu-item .splitter {
    content: "";
    height: 50px;
    width: 1px;
    background: #fff;
    display: block;
}

#menu-top .img {
    margin-left: 30px;
}

#menu-top a {
    text-decoration: none;
    color: #fff;
}

#menu-top a:hover {
    text-decoration: underline;
}

#left-panel {
    position: absolute;
    height: calc(100% - 85px);
    width: 350px;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.8);
    z-index: 998;
    padding-top: 85px;
}


/************/

#left-panel ul {
    list-style: none;
}
  
#left-panel a {
    text-decoration: none;
}
  
#left-panel .accordion-menu {
    width: 100%;
    border-radius: 4px;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
}

#left-panel .accordion-menu li.open .dropdownlink {
    color: #CDDC39;
    background: #000;
}
  
#left-panel .accordion-menu li.open .dropdownlink .fa-chevron-down {
    transform: rotate(180deg);
}

#left-panel .accordion-menu li:last-child .dropdownlink {
    border-bottom: 0;
}

#left-panel .dropdownlink {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 45px;
    position: relative;
    transition: all 0.4s ease-out;
    height: 50px; 
    display: flex;
}

#left-panel .dropdownlink:hover {
    background: #222;
}

#left-panel .icon {
    width: 32px;
    height: 32px;
    margin-right: 30px;
    display: inline-block;
}

#left-panel .icon-map {
    background: url('../img/map.png');
}

#left-panel .icon-fragment {
    background: url('../img/fragment.png');
}

#left-panel .icon-support {
    background: url('../img/support.png');
}

#left-panel .icon-calendar {
    background: url('../img/calendar.png');
}

#left-panel .dropdownlink i {
    position: absolute;
    top: 17px;
    left: 16px;
}

#left-panel .dropdownlink i .fa-chevron-down {
     right: 12px;
     left: auto;
}
  
#left-panel .submenuItems {
    display: none;
    background: #000;
}
  
  
#left-panel .submenuItems a {
    display: block;
    color: #fff;
    padding: 12px 12px 12px 45px;
    transition: all 0.4s ease-out;
}


#left-panel .submenuItems .radiobtn {
    color: #fff;
    line-height: 80%;
    display: flex;
    align-items: center;
}

#left-panel .submenuItems .radiobtn:before {
    content:"";
    display: inline-block;
    width:33px;
    height:33px;
    margin-right: 10px;
}

#left-panel .submenuItems .radiobtn.radiobtn1:before {
    background: url('../img/radio-btn1.png') no-repeat center left;
}

#left-panel .submenuItems .radiobtn.radiobtn2:before {
    background: url('../img/radio-btn2.png') no-repeat center left;
}

#left-panel .submenuItems .radiobtn.radiobtn3:before {
    background: url('../img/radio-btn3.png') no-repeat center left;
}

#left-panel .submenuItems .radiobtn.radiobtn4:before {
    background: url('../img/radio-btn4.png') no-repeat center left;
}

#left-panel .submenuItems .active .radiobtn:before {
    background-position-x: right;
}


#left-panel .submenuItems .active .radiobtn {
    background: linear-gradient(270deg, #D1FF4E 10.2%, rgba(188, 229, 73, 0.74) 39.58%, rgba(11, 12, 28, 0) 100%);
}

#left-panel .submenuItems a {
    margin-left: 50px;
    line-height: 33px;
    height: 33px;
}

#left-panel .submenuItems a.active {
    background: linear-gradient(270deg, #D1FF4E 10.2%, rgba(188, 229, 73, 0.74) 39.58%, rgba(11, 12, 28, 0) 100%);
}

#left-panel .btn-support {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 45px;
    position: relative;
    transition: all 0.4s ease-out;
    height: 50px; 
    display: flex;
}

#left-panel .btn-support.active {
    background: #000;
}
.upper-white-block-text{
    width: 539px;
    height: 42px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    margin-left: -3%;
    margin-bottom: -30px;

    color: #FFFFFF;
}
.bt-0{
/*    position: absolute;*/
    width: 80%;
    height: 40px;
    background: #171932;
    border-radius: 34px;
    border: 0px;
    font-family: Arial;
    margin-top: 50px;
    font-size: 17px;
    line-height: 28px;
    color: white;
}
.bt-1{
    font-size: 17px;
    margin-top: 30px;
    width: 80%;
    height: 40px;
    border: 0px;
    font-family: Arial;
    border: 3px solid #171932;
    box-sizing: border-box;
    border-radius: 34px;
    line-height: 28px;
/* identical to box height */


color: #171932;

}

.centered-auth{
    width: 482px;
    height: 42px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #A2A2A2;
}
.modal-info-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-left: 5%;
    margin-top: 0%;
    color: #FFFFFF;
}

#modal-info,
#modal-dialog {
    display: none;
    width: 100px;
    height: 100px;
    z-index: 999;
    position: absolute;
    top: 200px;
    left: 500px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(23, 25, 50, 0.89) 33.52%, rgba(64, 66, 86, 0.7) 65.72%);
}

.white-block{
    width: 550px;
    height: 470px;
/*    margin-left: -260px;*/
    margin-top: 90px;
    background: #FFFFFF;
    border-radius: 10px;
   
}
#gallery-head-block{
    width: 90%;
    margin-left: 5%;
    height: 789px;
    background: #FFFFFF;
    border-radius: 10px;
/*    margin-left: -17%;*/
}

.gallery-block{
    
    width: 461px;
    height: 789px;
/*    border: 1px solid white;*/
    background: linear-gradient(150.49deg, #20223A -7.41%, #283D71 109.92%);
    border-radius: 10px;
}

#panel-tools {
    position: absolute;
    right: 50px;
    top: 135px;
    z-index: 980;
}

#panel-tools .btn-critical {
    width: 350px;
    height: 50px;
    background: #FC251A;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 50px;
    color: #FFFFFF;   
    padding: 2px 10px; 
    text-align: center;
    cursor: pointer;
}

#panel-tools .btn-add-object {
    width: 350px;
    height: 50px;
    background: #D1FF4E;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    border-radius: 10px; 
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 50px;
    color: #171932;      
    padding: 2px 10px;
    text-align: center;
    cursor: pointer;
}

#panel-tools > div {
    margin-bottom: 12px;
    position: relative;
    right: 0px;
}

#panel-tools .btn-critical.showCritical {
    background: #171932;
}

#panel-tools .info-msg {
    width: 350px;
    height: 50px;
    background: rgb(255, 255, 228);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    border-radius: 10px; 
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 50px;
    color: #171932;      
    padding: 2px 10px;
    text-align: center;
    cursor: pointer;
    display: none;
}

.NewObjectDialog {
    position: absolute;
    width: 370px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 42px;
    color: #000000;
    border-radius: 10px;
    display: none;
}

.NewObjectDialog .caption-form {
    background: #000;
    color: #fff;
    display: flex;
    font-size: 22px;
    padding: 10px 25px;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 20px
}

.NewObjectDialog .caption-close {
    cursor: pointer;
}

.NewObjectDialog .content-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 0;
}

.NewObjectDialog #BeginPoint {
    margin-bottom: 5px;
}

.NewObjectDialog .content-form input[type=text],
.NewObjectDialog .content-form textarea {
    padding: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    font-family: Roboto;
}

.NewObjectDialog .content-form .btn {
    background: #171932;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    border-radius: 10px;
    color: #fff;
    text-align: center;
    margin: 15px 0px;
    cursor: pointer;
}

#modal-info {
    display: none;
    width: 100px;
    height: 100px;
    z-index: 999;
    position: absolute;
    top: 200px;
    left: 500px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(23, 25, 50, 0.89) 33.52%, rgba(64, 66, 86, 0.7) 65.72%);
}