<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="tube">
    <!--/*@thymesVar id="tubes" type="java.util.List<com.example.heroku.model.Tube>"*/-->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Z-coord</th>
            <th scope="col">Старт</th>
            <th scope="col">Конец</th>
            <th scope="col">owners</th>
            <th scope="col" colspan="2">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record : ${tubes}">
            <td th:text="${record.getId()}">ID</td>
            <td th:text="${record.getzCoord()}">Z-coord</td>
            <td th:text="${record.getStartPoint().getCoord()}">Start</td>
            <td th:text="${record.getEndPoint().getCoord()}">Finish</td>
            <td th:text="${record.getIdOwners()}">owners</td>
            <td>
                <a th:href="@{/tube/edit(id=${record.getId()})}">
                    <i class="far fa-edit"></i>
                </a>
            </td>
            <td>
                <a th:href="@{/tube/del(id=${record.getId()})}">
                    <i class="far fa-trash-empty"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <!--/*@thymesVar id="tube_ed" type="com.example.heroku.model.Tube"*/-->

    <div class="row">
            <form th:action="${tube_ed.getId()==0?'/tube/':'/tube/edit/'}" method="post">
                <input type="number" name="id" class="gone"
                       th:value="${tube_ed.getId()}"/>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Id start point</span>
                    </div>
                    <input type="number" name="start" class="form-control input-md"
                           th:value="${tube_ed.getStart()}"/>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Id finish point</span>
                    </div>
                    <input type="number" name="finish" class="form-control input-md"
                           th:value="${tube_ed.getFinish()}"/>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon5">Z-координата</span>
                    </div>
                    <input type="number" name="z_coord" class="form-control input-md"
                           th:value="${tube_ed.getzCoord()}" step="any"/>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon7">Owners</span>
                    </div>
                    <input type="number" name="id_owners" class="form-control input-md"
                           th:value="${tube_ed.getIdOwners()}"/>
                </div>
                <input type="submit" class="btn btn-md btn-primary btn-block" th:value="${tube_ed.getId()==0?'Add':'Edit'}"/>
            </form>
    </div>
</th:block>

</body>
</html>