<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">

<body>

<div class="container">
    <h1>Database Output</h1>
    <th:block th:if="${message != null}">
        <!--/*@thymesVar id="message" type="com.example.heroku.utils.MessageUtil"*/-->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.getType())}, message=${message.getMessage()})">
        </div>
    </th:block>
    <!--/*@thymesVar id="records" type="java.util.List<com.example.heroku.model.Message>"*/-->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Текст обращения</th>
            <th scope="col">Катеория обращения</th>
            <th scope="col">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="record : ${records}">
            <tr>
                <td th:text="${record.getText()}">данные</td>
                <td th:text="${record.getCategory()}">данные</td>
                <td>
                    <a th:href="@{/del_mes(id=${record.getId()})}">
                        <i class="far fa-trash-empty"></i>
                    </a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <form action="/db" method="post">
        <label>
            TEXT:
            <input type="text" name="text"/>
        </label>
        <label>
            Category:
            <input type="number" name="category"/>
        </label>
        <input type="submit"/>
    </form>
</div>

</body>
</html>
