<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">

<body>

<div class="container">
    <h1>Database Output</h1>
    <th:block th:if="${message != null}">
        <!--/*@thymesVar id="message" type="com.example.heroku.utils.MessageUtil"*/-->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.getType())}, message=${message.getMessage()})">
        </div>
    </th:block>
    <!--/*@thymesVar id="records" type="java.util.List<com.example.heroku.model.Message>"*/-->
    <ul th:each="record : ${records}">
        <li th:text="${record.getText()}"></li>
        <li th:text="${record.getCategory()}"></li>
    </ul>
</div>

</body>
</html>
