<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">

<body>

<div class="container">
    <th:block th:if="${message != null}">
        <!--/*@thymesVar id="message" type="com.example.heroku.utils.MessageUtil"*/-->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.getType())}, message=${message.getMessage()})">
        </div>
    </th:block>

    <th:block th:if="${type == 0}">
        <!--/*@thymesVar id="type" type="java.lang.Integer"*/-->
        <div th:replace="fragments/point :: point">
        </div>
    </th:block>

    <th:block th:if="${type == 1}">
        <!--/*@thymesVar id="type" type="java.lang.Integer"*/-->
        <div th:replace="fragments/tube :: tube">
        </div>
    </th:block>

    <th:block th:if="${type == 2}">
        <!--/*@thymesVar id="type" type="java.lang.Integer"*/-->
        <div th:replace="fragments/building :: building">
        </div>
    </th:block>

</body>
</html>
