<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.vuejs.org">
<head>
    <title>Archimed</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,900&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/leaflet.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/tabs.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>


    <script src="js/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/leaflet.js"></script>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="app" class="container">

    <div id="menu-top">
        <div class="logo">ARCHIMED</div>
        <div class="right-panel">
            <div class="search menu-item">
                <button data-toggle="modal" data-target="#exampleModal">Найти</button>
            </div>
            <div class="link menu-item">
                <a href="#">Тех.поддержка</a>
            </div>
            <div class="account menu-item">
                <div class="text">Участок №3</div>
                <div class="img"><img src="img/avatar.png" alt="Участок №3"></div>
            </div>
        </div>
    </div>

    <div id="left-panel">
        <ul class="accordion-menu">
            <li id="map_menu" class="open" v-on:click="onClickMap">
                <div class="dropdownlink">
                    <div class="icon icon-map"></div>
                    <div class="text">Карта</div>
                </div>
                <ul class="submenuItems" id="typeMap" style="display: block;">
                    <li v-on:click="onClickTypeMap" class="active"><a class="radiobtn radiobtn1"
                                                                      href="#">Водоснабжение</a></li>
                    <li v-on:click="onClickTypeMap"><a class="radiobtn radiobtn2" href="#">Водоотведение</a></li>
                    <li v-on:click="onClickTypeMap"><a class="radiobtn radiobtn3" href="#">Теплоснабжение</a></li>
                </ul>
            </li>
            <li id="fragment_menu">
                <div class="dropdownlink">
                    <div class="icon icon-fragment"></div>
                    <div class="text">Фрагмент</div>
                </div>
                <ul class="submenuItems" id="theSubMenuBtn">
                    <li><a href="#">Схема</a></li>
                    <li><a href="#" v-on:click="onClickInfo" class="btn-info">Информация</a></li>
                    <li><a href="#">История правок</a></li>
                </ul>
            </li>
        </ul>
        <div class="btn-analitika dropdownlink" v-on:click="onClickAnalitika">
            <div class="icon icon-analitika"></div>
            <div class="text">Аналитика</div>
        </div>
        <div class="btn-support dropdownlink" v-on:click="onClickSupport">
            <div class="icon icon-support"></div>
            <div class="text">Поддержка</div>
        </div>
    </div>

    <div id="modal-dialog">
        <p id="modal-dialog-head-text">Все данные об инженерных системах на одной платформе</p>
        <div id="hr-div"></div>
        <div id="modal-dialog-content-img">
            <img src="img/Group_7_6.svg" width="70%">
        </div>
        <p class="modal-dialog-content-text">Что представляет собой ИИС Архимед?</p><br>
        <p class="modal-dialog-content-text">Для кого предназначена система?</p><br>
        <p class="modal-dialog-content-text">Какие данные доступны вам в системе?</p><br>
        <p class="modal-dialog-content-text">Как внести изменения или добавить информацию?

        <div class="btn-close"></div>
    </div>

    <div id="modal-dialog2">
        <div class="he-text"><p class="he-txt">Информация</p></div>
        <div class="analitika-template"></div>
    </div>

    <div id="panel-tools">
        <div v-on:click="onClickCritical" class="btn-critical">Отобразить крические участки</div>
        <div v-on:click="onClickAddObject" class="btn-add-object">+ Добавить объект</div>
        <div class="info-msg">Выберите две точки на карте</div>
        <div class="NewObjectDialog">
            <div class="caption-form">
                <div class="caption-text">Добавить объект</div>
                <div v-on:click="onClickCloseNewObject" class="caption-close">Х</div>
            </div>
            <div class="content-form">
                <label>Добавьте название объекта</label>
                <input type="text" id="NameObject">

                <label>Координаты объекта</label>
                <input type="text" id="BeginPoint" disabled>
                <input type="text" id="EndPoint" disabled>

                <label>Добавьте характеристики</label>
                <textarea id="Comment" placeholder="Укажите характеристики"></textarea>

                <label>Объект является проблемным?</label>
                <input type="checkbox" id="IsCritical">

                <div v-on:click="onClickCreateObject" class="btn">+ добавить объект</div>
            </div>

        </div>
    </div>

    <div id="modal-info">
        <div class="he-text"><p class="he-txt">Информация</p></div>
        <br>
        <p class="modal-info-text">Глобальные координаты:</p>
        <p class="modal-info-text mb-0">55.0394832, 82.9153633</p>
        <img id="quest-img" src="img/Group%204.22.svg">
        <p class="modal-info-text mb-0">54.0395672, 81.4654563</p>
        <br>
        <div class="tabs">
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1" title="Вкладка 1">Параметры</label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2" title="Вкладка 2">Ремонт</label>

            <input id="tab3" type="radio" name="tabs">
            <label for="tab3" title="Вкладка 3">Дефекты</label>

            <section id="content-tab1">
                <div class="div-tab">
                    <span class="tab-text">X: 21.232, Y: 25.354, Z: 24.54</span>

                </div>
                <div class="div-tab">
                    <p class="tab-text">Снимки</p>
                    <img src="img/image%203.png" width="10%">
                    <img src="img/image%202.png" width="10%">
                </div>
                <p class="tab-text">Харакеристики</p>
                <div class="sets">
                    <div class="row">
                        <div class="col-sm-8 input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Диаметр трубы</span>
                            </div>
                            <input type="text" class="form-control" id="diameter-form" aria-describedby="basic-addon1">
                        </div>
                        <div class="col-sm-4">
                            <button class="btn">Сохранить</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon4">Толщина трубы</span>
                            </div>
                            <input type="text" class="form-control" id="thinkness-form" aria-describedby="basic-addon1">
                        </div>
                        <div class="col-sm-4">
                            <button class="btn">Сохранить</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon5">Материал трубы</span>
                            </div>
                            <input type="text" class="form-control" id="material-form" aria-describedby="basic-addon1">
                        </div>
                        <div class="col-sm-4">
                            <button class="btn">Сохранить</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon6">ГОСТ</span>
                            </div>
                            <input type="text" class="form-control" id="gost-form" aria-describedby="basic-addon1">
                        </div>
                        <div class="col-sm-4">
                            <button class="btn">Сохранить</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon7">Длина фрагмента</span>
                            </div>
                            <input type="text" class="form-control" id="length-form" aria-describedby="basic-addon1">
                        </div>
                        <div class="col-sm-4">
                            <button class="btn">Сохранить</button>
                        </div>
                    </div>
                </div>

            </section>
            <section id="content-tab2">
                <img src="img/Group%20110.svg" width="38%"
                     style="position: absolute; margin-left: 390px; width: 300px;">
                <p class="tab-text">Ремонтные работы</p>
                <p class="tab-grey-text">Плановый ремонт</p>
                <img src="img/image%205.png" width="10%">
                <img src="img/image%206.png" width="10%">
                <p class="tab-grey-text">+ Добавить фото</p>
                <p class="tab-grey-text">/ Изменить данные</p>
                <p class="tab-grey-text">23.09.19</p>
                <p class="tab-text">Ремонт узла №2</p>
                <p class="tab-grey-text">26.09.19</p>
                <p class="tab-text">Замена трубопровода</p>
                <p class="tab-grey-text">23.09.19</p>
                <p class="tab-text">Плановая проверка вентелей</p>
                <p class="tab-grey-text">25.09.19</p>
                <p class="tab-text">Плановая проверка труб</p>
            </section>
            <section id="content-tab3">
                <p class="tab-text">Выявленные дефекты:</p>
                <p class="tab-grey-text">23.10.19</p>
                <p class="tab-grey-text">*Повреждение вентеля*</p>
                <img src="img/image%208.png" width="50%" style="margin-left: 23%">
                <p class="tab-text">Развернуть описание</p>
                <p class="tab-grey-text">Изменить данные</p>
                <center><p class="tab-text">Смотреть дальше</p></center>
            </section>
        </div>
    </div>

    <div id="map"></div>

    <div th:replace="fragments/modal :: base"></div>
</div>
<script th:replace="script :: vue"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>